In [10]:
import os
from google.cloud import bigquery

In [11]:
query = '''
SELECT
symbol, tumble, avg(intrp) as intrp
FROM
  `adept-odyssey-314211.test_crypto_ml.batch_hour_interpo`
WHERE
symbol = 'ETH'
GROUP BY symbol, tumble; 
'''

In [12]:
client = bigquery.Client() 
query_df = client.query(query).result().to_dataframe()
query_df

     symbol                    tumble        intrp
0       ETH 2021-06-09 23:00:00+00:00  2603.720765
1       ETH 2021-06-09 22:00:00+00:00  2602.790307
2       ETH 2021-06-09 21:00:00+00:00  2573.542644
3       ETH 2021-06-09 20:00:00+00:00  2562.886457
4       ETH 2021-06-09 19:00:00+00:00  2565.964990
...     ...                       ...          ...
5051    ETH 2020-11-11 12:00:00+00:00   461.257655
5052    ETH 2020-11-11 11:00:00+00:00   462.476767
5053    ETH 2020-11-11 10:00:00+00:00   461.482279
5054    ETH 2020-11-11 09:00:00+00:00   459.585209
5055    ETH 2020-11-11 08:00:00+00:00   460.482381

[5056 rows x 3 columns]

In [ ]:
#bq ls -j -a